<ul class="friends-list--left drop-zone">
    {{#each items}}
    <li class="friends-item" draggable="true" data-id="{{id}}">
        <div class="friends-item--img margin-left">
            <img src="{{photo_50}}" class="img-avatar">
        </div>
        <div class="friends-item--name">{{first_name}} {{last_name}}</div>
        <div class="friends-item--add">
            <span class="plus"></span>
        </div>
    </li>
    {{/each}}
</ul>
